### HR Employee Attrition Analysis

In [6]:
import numpy as np

In [7]:
import pandas as pd

In [ ]:
import pandas as pd

employee_attrition = pd.read_csv("Python Final Project.csv")
employee_attrition #read csv (dataframe)

,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,...,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber.1
0,1,2,Female,94,3,2,Sales Executive,4,Single,5993,...,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1
1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,...,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2
2,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,...,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4
3,5,4,Female,56,3,1,Research Scientist,3,Married,2909,...,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5
4,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,...,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,2061,3,Male,41,4,2,Laboratory Technician,4,Married,2571,...,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061
1466,2062,4,Male,42,2,3,Healthcare Representative,1,Married,9991,...,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062
1467,2064,2,Male,87,4,2,Manufacturing Director,2,Married,6142,...,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064
1468,2065,4,Male,63,2,2,Sales Executive,2,Married,5390,...,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065
1469,2068,2,Male,82,4,2,Laboratory Technician,3,Married,4404,...,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068

In [ ]:
employee_attrition.info() #checking data info to understand if there is missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeNumber            1470 non-null   int64
 1   EnvironmentSatisfaction   1470 non-null   int64
 2   Gender                    1470 non-null   object
 3   HourlyRate                1470 non-null   int64
 4   JobInvolvement            1470 non-null   int64
 5   JobLevel                  1470 non-null   int64
 6   JobRole                   1470 non-null   object
 7   JobSatisfaction           1470 non-null   int64
 8   MaritalStatus             1470 non-null   object
 9   MonthlyIncome             1470 non-null   int64
 10  MonthlyRate               1470 non-null   int64
 11  NumCompaniesWorked        1470 non-null   int64
 12  Over18                    1470 non-null   object
 13  OverTime                  1470 non-null   object
 14  PercentSalaryHike         1470 non-null   int64
 15  PerformanceRating         1470 non-null   int64
 16  RelationshipSatisfaction  1470 non-null   int64
 17  StandardHours             1470 non-null   int64
 18  StockOptionLevel          1470 non-null   int64
 19  TotalWorkingYears         1470 non-null   int64
 20  TrainingTimesLastYear     1470 non-null   int64
 21  WorkLifeBalance           1470 non-null   int64
 22  YearsAtCompany            1470 non-null   int64
 23  YearsInCurrentRole        1470 non-null   int64
 24  YearsSinceLastPromotion   1470 non-null   int64
 25  YearsWithCurrManager      1470 non-null   int64
 26  Age                       1470 non-null   int64
 27  Attrition                 1470 non-null   object
 28  BusinessTravel            1470 non-null   object
 29  DailyRate                 1470 non-null   int64
 30  Department                1470 non-null   object
 31  DistanceFromHome          1470 non-null   int64
 32  Education                 1470 non-null   int64
 33  EducationField            1470 non-null   object
 34  EmployeeCount             1470 non-null   int64
 35  EmployeeNumber.1          1470 non-null   int64
dtypes: int64(27), object(9)
memory usage: 413.6+ KB

In [14]:
employee_attrition.nunique()

EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber.1            1470
dtype: int64

### 1st KPI: Attrition Trends and Patterns (by attrition rate):

In [ ]:
# Identify overall attrition rates across the company:
# The problem is that ['Attrition'] == 'Yes' returns a boolean Series and is being used incorrectly as a column label.
# To filter rows where Attrition == 'Yes', you should do:
employee_who_left = employee_attrition.loc[employee_attrition['Attrition'] == 'Yes', ('Attrition')].count()
employee_who_left

np.int64(237)

In [46]:
employee_attrition.loc[employee_attrition['Attrition'] == 'No', ['Attrition']].count()

Attrition    1233
dtype: int64

In [59]:
Attrition_Rate = ((employee_who_left / 1470) * 100).round(2)
print("Attrition rate is:", Attrition_Rate, "%")

Attrition rate is: 16.12 %

In [ ]:
# The avg time where an employee left the comapny in each department:
employee_attrition[employee_attrition['Attrition'] == 'Yes'].groupby('Department')['YearsAtCompany'].mean().round(1)

Department
Human Resources           4.2
Research & Development    5.0
Sales                     5.5
Name: YearsAtCompany, dtype: float64

In [64]:
employee_attrition[employee_attrition['Attrition'] == 'Yes'].groupby('Department')['JobSatisfaction'].mean().round(1)

Department
Human Resources           2.2
Research & Development    2.5
Sales                     2.5
Name: JobSatisfaction, dtype: float64

In [65]:
employee_attrition[employee_attrition['Attrition'] == 'Yes'].groupby('Department')['PercentSalaryHike'].mean().round(1)

Department
Human Resources           13.8
Research & Development    15.3
Sales                     15.0
Name: PercentSalaryHike, dtype: float64

In [72]:
employee_attrition[employee_attrition['Attrition'] == 'Yes'].groupby('JobRole')['YearsAtCompany'].mean().round(1)

JobRole
Healthcare Representative    10.9
Human Resources               4.2
Laboratory Technician         3.2
Manager                      15.6
Manufacturing Director        8.7
Research Director            26.5
Research Scientist            4.3
Sales Executive               6.7
Sales Representative          2.1
Name: YearsAtCompany, dtype: float64

In [ ]:
employee_attrition[employee_attrition['Attrition'] == 'Yes'].groupby('JobRole')['YearsAtCompany'].mean().round(1)

### 2nd KPI: Compensation and Benefits Analysis

In [ ]:
#average monthly income by department of employees who have left the company:
employee_attrition[employee_attrition['Attrition'] == 'Yes'].groupby('Department')['MonthlyIncome'].mean().round(1)

Department
Human Resources           3715.8
Research & Development    4108.1
Sales                     5908.5
Name: MonthlyIncome, dtype: float64

In [69]:
#average monthly income by department of employees who have stayed in the company:
employee_attrition[employee_attrition['Attrition'] == 'No'].groupby('Department')['MonthlyIncome'].mean().round(1)

Department
Human Resources           7346.0
Research & Development    6630.3
Sales                     7232.2
Name: MonthlyIncome, dtype: float64

In [76]:
#Analyze the relationship between salary levels and attrition rates:
# Calculate the correlation between JobLevel and Attrition (convert Attrition to numeric for correlation)
correlation = (employee_attrition['JobLevel']
.corr(employee_attrition['Attrition']
.apply(lambda x: 1 if x == 'Yes' else 0)).round(1))
print("Correlation between JobLevel and Attrition:", correlation)

#the correlation is negative and weak

Correlation between JobLevel and Attrition: -0.2

In [ ]:
# Analyze the impact of stock options on attrition:
correlation_2 = (employee_attrition['StockOptionLevel']
.corr(employee_attrition['Attrition']
.apply(lambda x: 1 if x == 'Yes' else 0)).round(1))
print("Correlation between StockOptionLevel and Attrition:", correlation_2)

Correlation between StockOptionLevel and Attrition: -0.1

In [80]:
# Analyze the impact of salary hikes on attrition:
correlation_3 = (employee_attrition['PercentSalaryHike']
.corr(employee_attrition['Attrition']
.apply(lambda x: 1 if x == 'Yes' else 0)).round(1))
print("Correlation between PercentSalaryHike and Attrition:", correlation_3)

Correlation between PercentSalaryHike and Attrition: -0.0

### 3rd KPI: Work-Life Balance and Satisfaction:

In [101]:
# Display the attrition percentage for each level of WorkLifeBalance
# This Series shows, for each unique value of WorkLifeBalance, the percentage of employees who have left the company ("Attrition == 'Yes'")
# The data is grouped by WorkLifeBalance and the percentage is already calculated in the previous code cell

attrition_wlb = (
   employee_attrition.groupby(['WorkLifeBalance'])[['Attrition']]
    .apply(lambda x: (x.eq('Yes').sum() / len(x)) * 100)
    .round(2)
)
attrition_wlb

                 Attrition
WorkLifeBalance
1                    31.25
2                    16.86
3                    14.22
4                    17.65

In [119]:
#total employees at each score:
employee_attrition.groupby('WorkLifeBalance')[['Attrition']].count()

                 Attrition
WorkLifeBalance
1                       80
2                      344
3                      893
4                      153

In [121]:
#employess who left at a given work-life balance score:
(employee_attrition[employee_attrition['Attrition'] == 'Yes']
.groupby('WorkLifeBalance')[['Attrition']].count())

                 Attrition
WorkLifeBalance
1                       25
2                       58
3                      127
4                       27

In [ ]:
#attrition rate by work-life balance:
((employee_attrition[employee_attrition['Attrition'] == 'Yes']
.groupby(['WorkLifeBalance'])['Attrition']
.count())/(employee_attrition.groupby(['WorkLifeBalance'])['Attrition']
.count())*100).round(2)

# The previous calculations show the count of total employees (cell above),
# the number of employees who left ('Yes' for Attrition), and the percentage of attrition for each WorkLifeBalance score.
# This helps us see whether better work-life balance correlates with lower attrition rates.
# Generally, we observe that employees with higher WorkLifeBalance scores tend to have lower attrition percentages.

WorkLifeBalance
1    31.25
2    16.86
3    14.22
4    17.65
Name: Attrition, dtype: float64

In [125]:
(employee_attrition[employee_attrition['Attrition'] == 'No']
.groupby('WorkLifeBalance')[['Attrition']].count())

                 Attrition
WorkLifeBalance
1                       55
2                      286
3                      766
4                      126

In [118]:
employee_attrition.groupby('Attrition')[['JobSatisfaction','WorkLifeBalance']].mean().round(2)

           JobSatisfaction  WorkLifeBalance
Attrition
No                    2.78             2.78
Yes                   2.47             2.66